:root {
    --clr-1: #000000;
    --clr-2: #fd6060;
    --clr-3: #fff970;
    --clr-4: #6384fa;
    --clr-5: #8bf27a;
    --clr-6: #f7c162;
    --clr-8: #ffffff;
    --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --call-to-action: #67e1ec;
  }

  #img-container {
    height: 100vh;
    background-image: url("image.png");
  }
  .letter1 {
    color: var(--clr-8);
  }
  .letter2 {
    color: var(--clr-2);
  }
  .letter3 {
    color: var(--clr-3);
  }
  .letter4 {
    color: var(--clr-4);
  }
  .letter5 {
    color: var(--clr-5);
  }
  .letter6 {
    color: var(--clr-8);
  }
  .letter7 {
    color: var(--clr-2);
  }
  .letter8 {
    color: var(--clr-3);
  }
  .letter9 {
    color: var(--clr-4);
  }
  .letter10 {
    color: var(--clr-5);
  }
  #title-holder {
    height: 100%;
  }
  .title {
    margin: 6px 8px;
  }
  #heading{
    font-size: 2.8rem;
  }
  @media only screen and (max-width: 991px) {
    #img-container {
      height: 40vh;
      background-image: url("image.png");
    }
  }
  @media only screen and (max-width: 600px) {
    #img-container {
      height: 30vh;
      background-image: url("image.png");
    }
    #heading{
    font-size: 2.5rem;
  }
  }